KEY=
HTTPS_RPC=https://mainnet.helius-rpc.com/?api-key=
WSS_RPC=wss://mainnet.helius-rpc.com/?api-key=
ADMIN_WALLET=CbGJ3oY15c21a1cffgtoMYSS7B3vNX1jAuuMBxS6eHtH
REFERRAL_WALLET=DRmwv3XP18XEktwzYQNeLBsvLmkx7jqyqWQLjPmpitT7
ADMIN_FEE_BPS=6000
TOTAL_FEE_BPS=100